@keyframes item {
  from{
    transform: translate3d(0px,20px,0px);
    opacity: 0.6;
    
  }
 
  to {
    transform: translate3d(0px,0px,0px);
    opacity: 1;
  }
}

@keyframes loader {
  100% {
    opacity: 0.1;
    z-index: -4;
  }
} 

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}