@keyframes item {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
 
}

@keyframes svg {
 
  to{
    color: $color-primary;
    
  }
// 0% {
//     transform: scaleY(0);
// }

// 100% {
//     transform: scale(1);
// }
 
}