@keyframes item {
  0% {
    transform: scaleY(0)
  }
 

  100% {
    transform: scaleY(1);
  }

 
 
}

// @keyframes svg {
 
//   to{
//     color: $color-primary;
    
//   }
// }
@keyframes loader {
  100% {
    opacity: 0.1;
    z-index: -4;
  }
} 

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
  // 0% {
  //   transform: translateY(0);
  // }
}