.header {
   
    &__arrow {
      position: absolute;
      height: 25px;
      width: 25px;
      display:flex;
      font-size: 1.2rem;
      margin-top: 10px;
    }

    &__logo{
      margin: 0;}
}
*{
  box-sizing: border-box;
}
  .homeImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
  
    &__header {
      padding: 1rem 2rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__title {
      font-family: "Shrikhand", "cursive";
    }
  
    &__btn {
      height: 2rem;
      width: 2rem;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0;
      display:flex;
      align-items:center;
      justify-content:center;
      cursor: pointer;
      position: relative;

      &:hover::before  {
        opacity: 1;

      }

     
    
      // &::before  {
      //   opacity: 0;
      //   transition: 0.5s;
      //   content: url("../images/icons/heart-solid-color.svg") ;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 100%;
      //   width: 100%;
      
      // }
    }
  
  
  &__heartColor  {

  } 
  &__heart svg path {
    transition-duration: 0.25s; 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
    &:hover{
      display: none;
    }
  }
}
.menu__btn  svg path{

    cursor: pointer;
    fill: grey;
    margin-right: 10px;
    transition: .4s;
    width: 20px;
    border : #FF00FF solid 1px;
    
   

  &:hover {

    animation: animateHeart .4s;
    fill: $color-primary;
    
  }
}
  .submenus{
    display: grid;
    margin-right: 0.5rem;
  }
  
  .submenu {
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    margin-right: 1rem;
    animation-fill-mode: both;
    transform: scale(1);
    max-width: 100%;
  
    
    &__title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: normal;
     
  
      &::after {
        width: 3rem;
        height: 0.25rem;
        background-color: $color-tertiary;
        left: 0;
        bottom: 0; 
      }
    }
  }
  
  .menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex: 100%;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    align-items: center;
    // animation: item 4s;
    // animation-fill-mode: both;
    // // transform: scale(1);
    max-width: 100% ;

    &__header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  
    &__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
  
    &__description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.9rem;
      padding-bottom: 0;
      
    }
  
    &__price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
      margin: 10px;
    }
    &__confirmation {
      background-color: $color-tertiary;
      margin: -1rem -5rem -1rem 1rem;
      width: 3.9rem;
      height: 5rem;
      border-top-right-radius:0.75rem;
      border-bottom-right-radius: 0.75rem;
      display:flex;
      align-items: center;
      justify-content:center;
      transition-duration: 0.5s;
      transform: translate(40%);
    }
  
    &:hover &__confirmation {
      margin-right: -0.4rem;
      
      
    }
  
    &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: white;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
  
    }
  
    &:hover &__wrapIcon {
      transform: rotate(0);
    }
    
    &__icon{
      height: 1.3rem;
      width: 1.3rem;}
    }
  .wrapBtn {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
  }
  .commandBtn {
    @include button(primary);
    width: 200px;
    height: 50px;
    font-size: 1rem;
  }