@media screen and (min-width : 667px) and  (max-width : 1024px){
    .fonction{
        margin: 0;

    &__title {
        margin-left: 0.1rem;
        }    
    &__steps{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__step{
        margin: 10px; 

    }
}
.submenus{
    display: flex;
    flex-direction: column;
}
.footer {
        
        
    &__logo {
      text-align: center;
      margin-bottom: 0.8rem;
  
    }
  
    &__list {
     display: flex;
     justify-content: space-around;
    }
   
    }
}