@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

.container {
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.footer__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.footer__lists {
  margin-bottom: 0.5rem;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 20px;
  height: 15px;
  margin-right: 0.5rem;
}

.header {
  margin: 0;
}
.header__logo {
  font-size: 1.9rem;
}

.paris {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.1rem;
  position: relative;
}
.paris__icon {
  margin-right: 1rem;
  height: 20px;
  width: 20px;
}
.paris__text {
  font-weight: 400;
}

.home {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.home__title {
  margin: 0;
  font-weight: 600;
}
.home__subtitle {
  font-weight: 400;
  margin-bottom: 50px;
}
.home__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.home__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.home__btn a {
  text-decoration: none;
  color: inherit;
}

.fonction {
  padding: 2rem 1rem;
}
.fonction__title {
  margin-top: 0;
  margin-left: 1.2rem;
}
.fonction__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
.fonction__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.fonction__step:first-child {
  margin-top: 0;
}
.fonction__step:last-child {
  margin-bottom: 0;
}
.fonction__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.fonction__icon {
  margin-right: 1rem;
  height: 20px;
  width: 20px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurants__title {
  margin: 0.75rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0.75rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  height: 10rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__icon {
  height: 25px;
  width: 25px;
}

.header__arrow {
  position: absolute;
  height: 2rem;
  width: 2rem;
  display: flex;
  font-size: 1.2rem;
}
.header__logo {
  margin: 0;
}

.arrow-Img {
  height: 1.6rem;
  width: 1.6rem;
}

.homeImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.menu__btn:hover::before {
  opacity: 1;
}

.submenus {
  display: grid;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex: 100%;
  border-radius: 0.75rem;
  margin: 1rem 0;
  justify-content: stretch;
  align-items: center;
  width: 95%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  padding-bottom: 0;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  margin: 10px;
}
.menuItem__icon {
  height: 25px;
  width: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 1rem;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 736px) {
  .fonction {
    margin: 0;
  }
  .fonction__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fonction__step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .submenus {
    display: flex;
  }

  .footer__logo {
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .footer__list {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 667px) and (max-width: 1024px) {
  .fonction {
    margin: 0;
  }
  .fonction__steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .fonction__step {
    margin: 10px;
  }

  .submenus {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .footer__list {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1600px) {
  .page {
    display: block;
    margin: 0, auto;
  }
}

/*# sourceMappingURL=index.css.map */
